body {
     background-color: #191765;
     font-family: -apple-system, Raleway, Roboto, Oxygen, sans-serif;
}

header {
        display: flex;
        justify-content: space-around;
        font-size: 1.7rem;
        margin-bottom: 25px;
        margin-right: 24px;
        padding-top: 40px;
        width: 100%;
        height: 60px;
  }

  .mylogo {
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    flex:1;
    padding-top: 10px;
    margin-left: 20px;
    text-decoration: none;
  }

  .mob-version {
    right: 50px;
    cursor: pointer;
    padding-right: 50px;
  }

  .content {
    display: flex;
    padding: 10px 44px;
    background-image: url("images/back.png");
    background-repeat: no-repeat;
  }

  .title-1 {
    color: #7d73fc;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.37px;
    padding: 1rem;
    background-color: transparent;
  }
  
  .title-2 {
    font-style: normal;
    color: #edecff;
    font-weight: 500;
    line-height: 24px;
    font-size: 32px;
    padding: 1rem;
    text-align: center;
    background-color: transparent;
  }

  .para {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 12px 0;
  }
  