body {
  background-color: #191765;
  font-family: -apple-system, Raleway, Roboto, Oxygen, sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
  margin-bottom: 10px;
  margin-right: 24px;
  padding-top: 40px;
  width: 100%;
  height: 20px;
}

.mylogo {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  flex: 1;
  padding-top: 10px;
  margin-left: 20px;
  text-decoration: none;
}

.mob-version {
  right: 50px;
  cursor: pointer;
  padding-right: 50px;
}

.content {
  display: flex;
  padding: 10px 44px;
  background-image: url("images/back.png");
  background-repeat: no-repeat;
}

.title-1 {
  color: #7d73fc;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.37px;
  padding: 1rem;
  background-color: transparent;
}

.title-2 {
  font-style: normal;
  color: #edecff;
  font-weight: 500;
  line-height: 24px;
  font-size: 22px;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
}

.para {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 12px 0;
}

.baricon {
  color: #fff;
}

.hrbar {
  border: 0.2px solid #646369;
  margin-left: 10px;
  margin-right: 10px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 44px;
}

.lang {
  width: 50%;
}

.framework {
  width: 50%;
}

.feature-title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #9490ff;
}

.featureslist {
  color: #f5f5ff;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  padding: 1px;
  line-height: 30px;
}

.so-icons {
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fab {
  color: white;
  width: 30px;
}

.project-setion {
  display: flex;
  justify-content: center;
}

.work-icon {
  color: #c4c4c4;
  padding: 2px;
  font-size: 20px;
}

.work-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding-left: 20px;
  margin: 1px;
}

.work-title a {
  text-decoration: none;
  color: #a2a3ae;
}

.recent-project-title {
  color: #9490ff;
  padding: 10px 45px;
  font-size: 40px;
  line-height: 52px;
  font-style: normal;
  font-weight: 500;
  word-wrap: break-word;
  width: 50%;
}

.proj-1,
.proj-2,
.proj-3,
.proj-4 {
  padding: 10px 44px;
}

.proj-title {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.project-desc-p {
  color: #dcdce8;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.proj-tech {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.proj-tech li {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
  color: #fff;
}

.proj-tech .border-class {
  border-right: 1px solid gray;
}

.noborder {
  border-right: 0px solid #191765;
}

.btn {
  margin-top: 15px;
  background-color: #7d73fc;
  width: 95px;
  height: 44px;
  color: #fff;
  border: 1px solid #7d73fc;
}

.btn:hover {
  color: #7d73fc;
  background-color: #fff;
}

.proj-1,
.proj-3 {
  background-image: url("images/proj-back.png");
  background-repeat: no-repeat;
}

.proj-2,
.proj-4 {
  background-image: url("images/p2.png");
  background-position: right;
  background-repeat: no-repeat;
}

.tec-section {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tec {
  width: 50%;
}

.tec h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #9490ff;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
}

.contact-section h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
  text-align: center;
}

.contact-section p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #F5F5FF;
  margin: 24px 24px 40px 24px;
}
#contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin:0px 24px 0px 24px;
  justify-content: center;
}
input, textarea{
  width: 327px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

input {
  height: 48px;
  color: #81818c;
}
#email::placeholder {
  color: #191765;
}
